[Unit]
Description=Prepare writable SDDM theme backing directory
DefaultDependencies=no
RequiresMountsFor=/var
Before=usr-share-sddm-themes.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/prepare-sddm-themes
RemainAfterExit=yes
